.contact__container {
 width: 55%;
 display: grid;
 grid-template-columns: 30% 70%; 
 gap: 2rem;
}
.contact__card {
 background: var(--color-primary-variant); 
 margin-bottom: 1rem;
 border: 1px solid var(--color-primary);
 border-radius: 1rem;
 text-align: center;
 padding: 1rem 0 1rem;
}
.contact__card:hover{
    background: var(--color-bg-variant);
}
.contact__icon{
    font-size: 2rem;
}
.contact__site{
    font-weight: 600;
    font-size: medium;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    resize: none;
}
input, textarea{
    width: 100%;
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    padding: 1.5rem;
    color: white;
    font-size: 1rem;
}
input:hover, textarea:hover{
    background: var(--color-bg-variant);
    color: var(--color-white);
}