.container.testimonials__container{
    width: 45%;
    padding:0.5rem 0 3rem;
}

.testimonials{
    text-align: center;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 2rem;
    padding: 2rem;
}

.client__img{
    width: 4rem;
    aspect-ratio: 1/1;
    border: 0.3rem solid var(--color-primary);
    border-radius: 5rem;
    display: block;
    margin: 0 auto 1rem;
    overflow: hidden;
}
.client__name{
    color: var(--color-white);
    font-weight: 600;
    padding-bottom: 0.5rem;
}
.client__review{
    font-weight: 300;
    display: block;
    margin: 0.5rem auto 1rem;
    user-select: none;
}